*{
    transition: all;
} 
.content-text{
    margin-left: 3vw;
    margin-right: 3vw;
    position: absolute;
    z-index: 100;
}
hr.line {
    border-top-width: .9vw;
    margin-top: 1vh;
    border-color: black
}
.name {
    display: inline-block;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 8vw;
    word-spacing: -3px;
    position: relative;
    margin-top: 2.5vh;
    color: black
}
.contact {
    display: inline-block;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 5.5vw;
    word-spacing: -3px;
    line-height: 110%;
    position: relative;
    margin-top: 2vh;
    color: black
}
.sns {
    display: inline-block;
    font-family: 'Hammersmith One', sans-serif;
    font-size:5.5vw;
    word-spacing: -1px;
    line-height: 110%;
    position: relative;
    margin-top: 2vh;
    color: black
}
